.about {
  margin: 0 auto 400px auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .about .selfie {
    margin: 0 10px;
    width: 100vw;
    height: 70vw; }
    @media screen and (min-width: 750px) {
      .about .selfie {
        width: 45%;
        height: auto; } }
    .about .selfie .pic {
      margin: 0 auto;
      background: url("../assets/headshot.jpg") no-repeat center center;
      background-size: cover;
      width: 75%;
      height: 95%; }
      @media screen and (min-width: 750px) {
        .about .selfie .pic {
          width: 90%;
          height: 40vw;
          max-height: 450px; } }
  .about .bio {
    margin: 0 10px; }
    @media screen and (min-width: 750px) {
      .about .bio {
        width: 45%;
        height: auto; } }

.resume {
  margin: 0 auto 400px auto;
  text-align: center; }
