body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

input {
  outline: none; }

button {
  cursor: pointer;
  outline: none;
  border: none; }

h1 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 46px;
  font-size: 45px;
  letter-spacing: 6px;
  text-align: center;
  color: black;
  margin: 0 0 100px 0; }

h2 {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: black;
  margin: 0 0 23px 0; }

h3 {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: black;
  margin: 0 0 5px 0; }

p, li {
  font-family: "Cantarell", sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin: 0 0 23px 0;
  color: rgba(0, 0, 0, 0.4); }

li {
  margin: 0; }

ul {
  margin-bottom: 20px; }

#canvas {
  position: fixed;
  z-index: -1;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

#blank-canvas {
  position: fixed;
  z-index: -1; }

.app {
  font-family: "Nunito Sans", sans-serif;
  min-width: 270px;
  max-width: 1500px;
  margin: 0 25px; }
  @media screen and (min-width: 500px) {
    .app {
      margin: 0 50px; } }
  @media screen and (min-width: 1500px) {
    .app {
      margin: 0 auto; } }
