.home-header {
  text-align: center; }
  .home-header .logo {
    width: 75px;
    height: 75px;
    margin: auto;
    background-image: url("../assets/cat.png");
    background-size: cover;
    cursor: pointer; }

.home-selfie .pic {
  width: 250px;
  height: 250px;
  background-color: papayawhip;
  margin: auto; }

.home-blurb {
  max-width: 750px;
  margin: 0 auto 300px auto;
  text-align: center; }
