@-webkit-keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-o-keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes fadein {
  from {
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    filter: alpha(opacity=100); } }
.fireworks-toggle {
  width: 75px;
  height: 75px;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent; }

.home-header {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  text-align: center; }
  .home-header .logo {
    width: 75px;
    height: 75px;
    margin: 15px auto;
    background-image: url("../assets/cat.png");
    background-size: cover;
    cursor: pointer; }
  .home-header h1 {
    margin-bottom: 10px; }
  .home-header .link {
    display: inline-block;
    margin: 5px; }

.home-selfie {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  margin: auto;
  position: relative; }
  .home-selfie .pic {
    width: 100%;
    height: 70vw;
    max-height: 700px;
    background: url("../assets/selfie.jpg") no-repeat center center;
    background-size: cover;
    margin: 50px auto 325px auto; }

.home-blurb {
  max-width: 650px;
  margin: 0 auto 300px auto;
  text-align: center; }

.home-footer {
  margin-bottom: 450px;
  text-align: center; }
  .home-footer .line-break {
    border-bottom: solid black;
    width: 150px;
    margin: 25px auto; }
  .home-footer .name {
    font-size: 24px;
    margin-bottom: 20px; }
  .home-footer .email {
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 2px; }
  .home-footer a .media {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat; }
  .home-footer .hovering {
    margin-top: 10px auto;
    border: solid blue; }
