.landing {
  width: 100%;
  height: 475px;
  opacity: 0.9; }
  .landing .background {
    position: absolute;
    width: 100%;
    height: 475px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .landing .background.low {
      background-image: url("../assets/skyline_low.png");
      z-index: 0; }
    .landing .background.med {
      background-image: url("../assets/skyline_med.png");
      z-index: 1; }
    .landing .background.high {
      background-image: url("../assets/skyline_high.png");
      z-index: 2; }
  .landing .content {
    position: absolute;
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    z-index: 3; }
  .landing .name {
    min-width: 500px;
    font-size: 84px;
    padding: 100px 0 0 100px; }
  .landing .title {
    font-size: 36px;
    padding: 0 0 0 150px; }
  @media screen and (max-width: 900px) {
    .landing .name {
      font-size: 60px; }
    .landing .title {
      font-size: 24px; } }
  @media screen and (max-width: 700px) {
    .landing .name {
      font-size: 48px; } }
