.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vw;
  max-height: 700px;
  margin: 0 auto 50px auto;
  background-color: rgba(0, 0, 0, 0.05); }
  .slideshow.mini {
    margin: 50px auto;
    max-height: 500px; }
    @media screen and (min-width: 800px) {
      .slideshow.mini {
        height: 30vw; } }
  .slideshow .pic {
    width: 85%;
    height: 85%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 16px grey;
    background-size: cover;
    background-position: top center;
    -webkit-transition: background-image 0.75s ease-out;
    -moz-transition: background-image 0.75s ease-out;
    -ms-transition: background-image 0.75s ease-out;
    -o-transition: background-image 0.75s ease-out;
    transition: background-image 0.75s ease-out; }

.feature {
  margin: 0 5px; }
  .feature .info {
    max-width: 600px;
    margin: auto;
    text-align: left; }
    .feature .info .blurb {
      text-align: left; }

.project {
  margin-bottom: 300px; }
  .project .info {
    max-width: 600px;
    margin: auto;
    text-align: left; }

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px 350px -15px; }
  .projects .project-mini {
    margin: 0 15px; }
    @media screen and (min-width: 800px) {
      .projects .project-mini {
        width: 45%; } }
