.slideshow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 60vw;
  margin: 0 auto 50px auto;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.05); }
  .slideshow.mini {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 55vw;
    max-width: 600px;
    max-height: 450px;
    margin: 0 auto 50px auto;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.05); }
    @media screen and (min-width: 750px) {
      .slideshow.mini {
        width: 45vw;
        height: 30vw; } }
  .slideshow .pic {
    width: 85%;
    height: 85%;
    background-size: cover;
    background-position: center left;
    transition: all 0.75s ease-out; }

.feature {
  margin-bottom: 25px; }
  .feature .info {
    max-width: 600px;
    margin: auto;
    text-align: left; }
    .feature .info .blurb {
      text-align: left; }

.project {
  margin-bottom: 150px; }
  .project .info {
    max-width: 600px;
    margin: auto;
    text-align: left; }

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media screen and (min-width: 750px) {
    .projects {
      margin: 0 -15px 150px -15px;
      flex-direction: row; } }
  .projects .project-mini {
    flex-grow: 1; }
    @media screen and (min-width: 750px) {
      .projects .project-mini {
        margin: 0 15px 150px 15px;
        flex-direction: row; } }
