.skills {
  max-width: 700px;
  margin: 100px auto 450px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .skills .skill {
    margin: 15px; }
    .skills .skill .logo {
      width: 75px;
      height: 75px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 auto 10px auto; }
    .skills .skill .name {
      width: 75px;
      text-align: center; }
      .skills .skill .name h3 {
        font-size: 12.5px; }
