.skills {
  margin-bottom: 300px; }
  .skills .skills-container {
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .skills .skills-container .skill {
      margin: 15px; }
      .skills .skills-container .skill .logo {
        width: 75px;
        height: 75px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 auto 10px auto; }
      .skills .skills-container .skill .name {
        width: 75px;
        text-align: center; }
        .skills .skills-container .skill .name h3 {
          font-size: 12.5px; }
