.about
  margin-bottom: 100px
  .content
    max-width: 1000px
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: auto
    // border: solid red
    .selfie
      // border: solid green
      margin: 0 10px
      width: 100vw
      height: 70vw
      @media screen and (min-width: 750px)
        width: 45%
        height: auto
      .pic
        margin: 0 auto
        background-color: papayawhip
        width: 75%
        height: 95%
        @media screen and (min-width: 750px)
          width: 90%
          height: 40vw
          max-height: 450px
    .bio
      // border: solid blue
      margin: 0 10px
      @media screen and (min-width: 750px)
        width: 45%
        height: auto

.resume
  margin-bottom: 250px
  text-align: center
