.about {
  width: 100%;
  max-height: 400px;
  display: flex;
  background-color: rgb(230, 230, 250); 
}
.about-blurb {
  min-width: 500px;
  max-width: 700px;
  text-align: center;
  font-size: 24px;
  padding: 25px 0 20px 0;
  line-height: 1.5em;
  border-bottom: 1px solid black;
}
.about-content {
  display: flex;
  flex-direction: column;
}
.about-content-image {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 50px;
  background-image: url('assets/cat.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}
.about-content-text {
  padding: 25px 100px 25px 25px;
}
