body
  margin: 0
  padding: 0
a
  text-decoration: none
  cursor: default
  color: black
input
  outline: none
button
  cursor: pointer
  outline: none
  border: none

// h1, h2, p from (with some personalizations):
// http://www.mrmcguire.com/10-useful-google-font-combinations-for-your-next-site/
h1
  font-family: 'Fjalla One', sans-serif
  font-weight: normal
  text-transform: uppercase
  line-height: 46px
  font-size: 45px
  letter-spacing: 6px
  text-align: center
  color: black
  margin: 0 0 23px 0
h2
  font-family: 'Cantarell', sans-serif
  font-weight: 700
  font-size: 30px
  line-height: 23px
  text-transform: uppercase
  letter-spacing: -1px
  color: black
  margin: 0 0 23px 0
h3
  font-family: 'Cantarell', sans-serif
  font-weight: 700
  font-size: 14px
  line-height: 15px
  text-transform: uppercase
  letter-spacing: -1px
  color: black
  margin: 0 0 5px 0
p, li
  font-family: 'Cantarell', sans-serif
  font-size: 14px
  line-height: 25px
  margin: 0 0 23px 0
  color: grey
li
  margin: 0
ul
  margin-bottom: 20px
//

.app
  font-family: 'Nunito Sans', sans-serif
  min-width: 270px
  margin: 0 25px
  @media screen and (min-width: 500px)
    margin: 0 50px
  