@import 'Mixins'

+keyframes(fadein)
  from
    +opacity(0)
  to
    +opacity(1)

.home-header
  +animation('fadein 2s')
  text-align: center
  .logo
    width: 75px
    height: 75px
    margin: 15px auto
    background-image: url('../assets/cat.png')
    background-size: cover
    cursor: pointer
  h1
    margin-bottom: 10px
  .link
    display: inline-block
    margin: 5px

.home-selfie
  +animation('fadein 1s')
  margin: auto
  position: relative
  z-index: -5
  .pic
    width: 100%
    height: 70vw
    max-height: 700px
    background: url("../assets/selfie.jpg") no-repeat center center
    background-size: cover
    margin: 50px auto 325px auto
    
.home-blurb
  max-width: 650px
  margin: 0 auto 300px auto
  text-align: center

.home-footer
  margin-bottom: 450px
  text-align: center
  .line-break
    border-bottom: solid black
    width: 150px
    margin: 25px auto
  .name
    font-size: 24px
    margin-bottom: 20px
  .email
    margin-bottom: 30px
    font-weight: 400
    letter-spacing: 2px
  a
    .media
      display: inline-block
      width: 15px
      height: 15px
      margin: 10px
      background-size: contain
      background-repeat: no-repeat
  .hovering
    margin-top: 10px auto
    border: solid blue
    