.feature
  margin-bottom: 100px
  .title
    text-align: center
  .pic
    min-width: 250px
    max-width: 900px
    height: 250px
    margin: 0 auto 50px auto
    background-size: cover
    background-position: center center
    @media screen and (min-width: 500px)
      height: 375px
    @media screen and (min-width: 700px)
      height: 500px
  .info
    max-width: 600px
    margin: auto
    text-align: left
    .blurb
      text-align: left
