.skills {
  height: 500px;
  background-color: rgb(245, 245, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-title {
  font-size: 24px;
  padding: 25px 0 15px 0;
}
.skills-row {
  display: flex;
}
.skill {
  height: 150px;
  width: 300px;
  display: flex;
  padding: 25px;
}
.skill-left {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 250);
  border-radius: 25px;
}
.skill-image {
  height: 125px;
  width: 125px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.skill-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-specs {
  width: 100%;
  height: 80%;
  background-color: rgb(240, 240, 250);
  border-radius: 0 15px 15px 0;
  font-size: 16px;
  font-weight: bold;
}
.skill-spec {
  padding: 10px 0 0 15px;
}