.skills {
  background-color: #f5f5fa; }
  .skills .title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 25px 0 15px 0; }
  .skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    padding-bottom: 30px;
    max-width: 1300px; }
  .skills .skill {
    display: flex;
    align-items: center;
    height: 150px;
    width: 300px;
    margin: 10px 25px 10px 25px; }
    .skills .skill .left {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lavender;
      border-radius: 25px; }
      .skills .skill .left .image {
        height: 125px;
        width: 125px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
    .skills .skill .right {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .skills .skill .right .specs {
        width: 100%;
        height: 80%;
        background-color: #f0f0fa;
        border-radius: 10px 15px 15px 10px;
        font-size: 16px;
        font-weight: bold; }
        .skills .skill .right .specs .spec {
          padding: 10px 0 0 15px; }
