.skills
  margin-bottom: 300px
  .skills-container
    max-width: 700px
    margin: auto
    display: flex
    justify-content: center
    flex-wrap: wrap
    .skill
      margin: 15px
      .logo
        width: 75px
        height: 75px
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
        margin: 0 auto 10px auto
      .name
        width: 75px
        text-align: center
        h3
          font-size: 12.5px
