.skills
  .skill
    display: inline-block
    .logo
      width: 75px
      height: 75px
      background-size: contain
      background-position: center center
      background-repeat: no-repeat
      border: solid blue
      margin: 0 auto 5px auto
    .name
      border: solid blue
      text-align: center
